.navigation {
  font-size: 20px;
}

.container {
    background: rgb(170, 187, 97); /* Fallback */
    background: rgba(170, 187, 97, 0.5);
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: darkgrey;
}

/* selected link */
a:active {
    color: black;
}

/* color of unordered list background */
